<% @page_title = "Notifications settings" %>

<% content_for :header do %>
  <nav class="align-start">
    <%= link_to notifications_path, class: "btn flex-item-justify-start", data: { controller: "hotkey", action: "keydown.esc@document->hotkey#click" } do %>
      <%= icon_tag "arrow-left" %>
      <span class="for-screen-reader">Go back</span>
    <% end %>

    <h1 class="txt-x-large"><%= @page_title %></h1>

    <div class="btn btn--placeholder flex-item-justify-end"></div>
  </nav>
<% end %>

<section class="panel center flex flex-column gap-half margin-block">
  <%= render partial: "notifications/settings/bucket", collection: @buckets, locals: { user: Current.user } %>
</section>
